.gallery{
  width: 70%;
  margin-left: auto;
  margin-right: auto;

}
.header{
  background-color: #2196F3;
  color: #FFF;
  padding: 1%;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 1%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
html{
  font-family: 'Roboto', sans-serif;
}
body{
  margin: 0;
}
h1{
  font-weight: lighter;
}
a{
  color: #FFF;
  font-size: 12pt;
  font-weight: bold;
  padding: 0.5%;
  font-style: normal;
  text-decoration: none;
}
img{
  height: 32%;
  width: 32%;
  margin: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  vertical-align: middle;
}
img:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
